/*
==================== Base Styles ====================
*/

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
}

/*
==================== Layout Styles ====================
*/


/*
==================== Additional Styles ====================
*/

.background {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.screen {
    position: absolute;
    top: 9.5%;
    left: 50.3%;
    transform: translate(-50%, 0);

    z-index: 2;

    /* background: red; */
    padding: 1.8rem 1.2rem 0 0;

    width: 50rem;
    height: 27rem;
}

.controller {
    position: absolute;
    margin-top: 20%; /*possibly change to 15%*/
    transform: translateX(-50%); /* used to center cursor with horizontal center of element*/
    
    /* default position on page creation */
    left: 50%;
    top: 25%;
    
    z-index: 5;
    
    height: 50rem;
    width: 55rem;

    min-height: 35rem;
    max-height: 50rem;
}