/*
==================== Base Styles ====================
*/

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    background: url("../assets/images/room.png") no-repeat center 0 fixed;
    font-family: 'Roboto', sans-serif;
}

.screen,
a:hover {
    cursor: url('../assets/misc/player-one.cur'), auto;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
==================== Layout Styles ====================
*/

.container {
    height: 100%;
    width: 100%;
    padding-left: .5rem;
}

.screen {
    margin: 6.7rem auto 0 auto;
    color: white;

    width: 52.3rem;
    height: 27.3rem;
}

/*
==================== Additional Styles ====================
*/


/*
------------------- Warning Screen -------------------
*/

.warning {
    background: black;
    text-align: center;
    padding: 2rem 1rem 3.3rem 1rem;
}

.warning-title,
.warning-info,
.press-to-continue {
    letter-spacing: .1rem;
}

.warning-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 1rem;
}

.warning-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .2rem;
}

.warning-info {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.7;
}

.also,
.website {
    display: block;
    font-weight: 400;
}

.also {
    font-size: 1.4rem;
    margin: 1rem 0 1rem 0;
}

.website {
    font-size: 1.7rem;
}

.press-to-continue {
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 1.8rem;
}

.a-button {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 2px;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

/*
------------------- Menu -------------------
*/

.menu {
    display: none;
    /* background: white; */
    text-align: center;
}

.menu-background {
    width: 52.5rem;
    height: 30rem;
}

.menu-ui {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-48.5%);
}

/*
- - - - - - - - - - Apps - - - - - - - - - -
*/


.app-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9rem;
}

.row-one-list,
.row-two-list,
.row-three-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .2rem;
}

.app-icon {
    width: 10.5rem;
    height: 5.5rem;
    border: 2px solid #b4b4b4;
    border-radius: 1rem;
    margin: 0 .2rem;
}

.app-icon:hover {
    border: 2px solid #b4b4b4;
    border-color: #2fc1d9;
}

/*
- - - - - - - - - - Menu Bar - - - - - - - - - -
*/

.menu-title {
    position: absolute;
    top: 72%;
    left: 49.5%;
    transform: translate(-50%);

    /* margin-top: .8rem; */
    font-size: 2rem;
    font-weight: 400;
    color: #2fc1d9;
    animation: disappear 4s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.time {
    font-family: 'Digital Numbers', sans-serif;
    margin: .7rem 0 0 0;
    color: #a3a3a3;
    font-size: 2rem;
    /* font-weight: 400; */
    opacity: 0;
    animation: appear 4s;
    animation-fill-mode: forwards;
    padding-left: 2rem;
}

.colon,
.am-pm {
    font-family: sans-serif;
}

.am-pm {
    font-size: 1rem;
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.date {
    font-weight: 400;
    font-size: 2rem;
    color: #7e7e7e;
}



/*
------------------- Controller -------------------
*/

.controller {
    position: absolute;
    margin-top: 20%; /*possibly change to 15%*/
    transform: translateX(-50%); /* used to center cursor with horizontal center of element*/
    
    /* default position on page creation */
    left: 50%;
    top: 25%;
    
    z-index: 5;
    
    height: 50rem;
    width: 55rem;

    min-height: 35rem;
    max-height: 50rem;
}