html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    background: black;
}

.controller {
    position: absolute;
    margin-top: 20%; /*possibly change to 15%*/
    transform: translateX(-50%); /* used to center cursor with horizontal center of element*/
    
    /* default position on page creation */
    left: 50%;
    top: 25%;
    
    z-index: 1;
    
    height: 40rem;
    width: 50rem;
}

.tv-container {
    text-align: center;
}